.container {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.container .separator {
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}

.container .button {
  cursor: pointer;
  position: absolute;
  outline: none;
  height: 100%;
  width: 3rem;
  margin-left: auto;
  border-radius: 50%;
  left: calc(50% - 1.5rem);
  background-color: var(--purple);
  background-image: url("/src/assets/images/icon-arrow.svg");
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.container .button:disabled {
  cursor: not-allowed;
}

.container .button:hover:not(:disabled) {
  background-color: var(--off-black);
}